@model List<VidlyAPI.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var serviceUrl = @System.Web.Configuration.WebConfigurationManager.AppSettings["MoviesAPI"];
}

<h2> Customers</h2>
<input type="button" class="btn btn-primary" value="New Customer" onclick="location.href='@Url.Action("New","Customers")'" />
<br /><br />
<table id="customers" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                @*<td>
                        @if (customer.ImagePath != null)
                        {
                            <a class="cursor-pointer" data-toggle="popover-hover" data-img=@customer.ImagePath>
                                @customer.Name
                            </a>
                        }
                        else
                        {
                            <a class="cursor-pointer">
                                @customer.Name
                            </a>
                        }
                    </td>*@
                <td>
                    @*<b><i>@customer.Name</i></b>*@
                    @if (customer.ImagePath != null)
                    {
                    <a class="cursor-pointer"  data-toggle="popover-hover" data-img=@customer.ImagePath>@customer.Name</a>
                    }
                    else
                    {
                    <a class="cursor-pointer">@customer.Name</a>
                    }
                </td>
                <td><b><i>@customer.MembershipType.Membership</i></b></td>
                <td><b><i>@customer.MembershipType.DiscountRate%</i></b></td>
                <td>
                    <button class="btn btn-success glyphicon glyphicon-edit" onclick="location.href='@Url.Action("Edit", "Customers", new {id = customer.Id})';return false;"></button>
                    <button data-customer-id="@customer.Id" class="btn btn-danger glyphicon glyphicon-remove js-delete"></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/ApplicationScripts/Customer.js"></script>
<script src="~/Scripts/Common/common.js"></script>
